<app-menu></app-menu>
<router-outlet></router-outlet>

<!-- <div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ valor | number }}</h1>
  <button
    pButton
    (click)="mostrarNombre()"
    label="Cambiar nombre"
    icon="pi pi-check"
    iconPos="right"
    class="p-button-help"
  ></button>

  <br /><br />

  <p-card [header]="nombre | titlecase" subheader="This is a subheader">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ipsa
    voluptatem aliquid nobis optio aliquam laudantium sunt maiores vero
    quibusdam quos, sint nam, repellendus, cupiditate ducimus perspiciatis
    itaque consequuntur alias!
  </p-card>
</div> -->
